target
.project
.settings
.classpath
nbactions.xml
nb-configuration.xml
.DS_Store
.metadata
.recommenders

# Intellij
.idea/
*.iml
*.iws
*.ipr
lib/
work/
*~

.vscode/
/content_repository/
/database_repository/
/extensions/
/flowfile_repository/
/logs/
/provenance_repository/
/run/
/state/
/.github/
